<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управління продажами оргтехніки</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        
        <div class="text-content">
            <h1>Ласкаво просимо до управління продажами оргтехніки</h1>
            <h2>Легко керуйте містами, магазинами та продуктами</h2>
        </div>
        
        <div class="navigation">
            <a th:href="@{/cities}" class="button">Міста</a>
            <a th:href="@{/shops}" class="button">Магазини</a>
            <a th:href="@{/products}" class="button">Товари</a>
        </div>
    </div>
</body>
</html>
