<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Магазини</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Магазини</h1>

        <form action="/shops/execute-query" method="post" class="form-container">
            <label for="sqlQuery">Введіть запит SQL:</label>
            <input type="text" id="sqlQuery" name="sqlQuery" placeholder="Enter SQL Query" required>
            <button type="submit" class="button">Виконати запит</button> 
        </form>        

        <div th:if="${queryResult != null && !queryResult.isEmpty()}">
            <h2>Результат запиту:</h2>
            <table>
                <thead>
                    <tr>
                        <th th:each="column : ${queryResult[0].keySet()}" th:text="${column}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${queryResult}">
                        <td th:each="cell : ${row.values()}" th:text="${cell}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${message}">
            <p th:text="${message}"></p>
        </div>
        <div th:if="${errorMessage}">
            <p style="color:red;" th:text="${errorMessage}"></p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Номер у списку</th>
                    <th>Магазин</th>
                    <th>Місто</th>
                    <th>Адреса</th>
                    <th>Рік відкриття</th>
                    <th>Дії</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="shop : ${shops}">
                    <td th:text="${shop.id}"></td>
                    <td th:text="${shop.shopName}"></td>
                    <td th:text="${shop.city.cityName}"></td>
                    <td th:text="${shop.address}"></td>
                    <td th:text="${shop.openingYear}"></td>
                    <td>
                        <a th:href="@{/shops/edit/{id}(id=${shop.id})}" class="button edit">Редагувати</a>
                        <a th:href="@{/shops/delete/{id}(id=${shop.id})}" class="button delete">Видалити</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/shops/add" class="button">Додати магазин</a>
        <a href="/home" class="button back">Повернутися до головної сторінки</a>
    </div>
</body>
</html>
